nav {
  background-color: rgb(44, 43, 43); 
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
  animation: slideInFromTop 0.8s ease-out;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255); 
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a.active {
  transform: scale(1.2); 
}

nav a:hover {
  transform: scale(1.05); 
}

