.error-container {
  background-color: rgb(26, 42, 58); 
  color: rgb(241, 241, 241);
  text-align: center;
  padding: 100px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-out;
}

.error-title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(231, 76, 60); 
  margin-bottom: 20px;
  text-transform: uppercase;
}

.error-description {
  font-size: 1.5rem;
  color: rgb(220, 220, 220); 
  margin-top: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
